@import "scss/bootstrap.scss";
body{
    background-color:white;
}

.navbar
{
    position: relative;
    padding: 0px;
}

nav
{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    padding: 10px;
}
.nav-link
{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 6px;
    justify-content: space-around;
    width: 150px;
    margin-right: 10px;
    position: left;
    padding: 15px;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
// .img-btn {
   
    
   
//   }
  
  .img-btn:hover img {
   border: none;
   cursor: pointer;
  

  }
  .main__filters .img-btn:hover {
    transform: scale(1.6);
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    border-radius: 5px;
    
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    background-color:white;
   
  
  }

.main__filters 
{ 
    margin-top: 1px;
    padding: 30px;
    display: flex;
    margin: 40px;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.block
{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    background-color: rgb(232, 230, 227);
    border-radius: 10%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.description, .price ,p
  {
    
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 16, 16);
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 60;
  }

  footer
  {
    
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  }
  

  